@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body{
    height: 100vh;
    overflow: hidden;
    
  
}
header {
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
nav ul li {
  margin-right: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.logo {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 3em;
  text-transform: uppercase;
}
.logo span{
  position: relative;
  right: 50px;
}
.offcanvass{
  display: none;
}
.hamburger{
  display: none;
}
.homepage-menu {
  width: 0%;
  height: 100vh;
  background:  linear-gradient(#F5F5F5, #A5C9CA);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 50;
}
.homepage-menu .hompage-img{
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}
.homepage-menu .hompage-img img{
  height: 100%;
}
.auto-text{
  font-size: 2em;
}
.typed-cursor{
  font-size: 2em !important;
}
.contact-icon{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
}
.contact-icon img{
  margin: 10px;
  width: 20px;
  cursor: pointer;
}
.hover-img{
  position: absolute;
  width: 400px;
  height: 30vh;
  z-index: 99;
  overflow: hidden;
  bottom: 0;
  left: 0;
}
.hover-img img{
  width: 100%;
  height: 100%;
  transform: translate(-100%, -100%) ;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.7;
  -webkit-transform: translate(-100%, -100%) ;
  -moz-transform: translate(-100%, -100%) ;
  -ms-transform: translate(-100%, -100%) ;
  -o-transform: translate(-100%, -100%) ;
}
.cursor{
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: red;
  transition: 0.1s;
  transform: translate(-50%, -50%) ;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  z-index: 100;
}
.hello{
  display: inline-block;
}
.aboutpage {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 50;  
}



@media only screen and (max-width: 991px) {
  nav{
    display: none;
  }
  .offcanvass{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    opacity: 0;
    display: block;
    z-index: 99 ;
    backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
  .offcanvass ul{
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .offcanvass ul li{
    list-style: none;
    margin: 15px;
    font-size: 3em;
  }
  .hamburger{
    width: 65px;
    height: 60px;
    padding: 15px;
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 99;
    overflow: hidden;
}
.hamburger-close{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 65px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
  .hamburger .line{
    width: 40px;
    height: 3px;
    background: #F15412;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
  .hamburger-close .line{
     margin: 5px;
     width: 50px;
     height: 3px;
    background: #F15412;
     position: relative;
}

.hamburger-close .line2{
    width: 35px;
}
.homepage-menu .hompage-img{
  width: 400px;
  opacity: 0.8;
}
.hover-img{
  display: none;
}

}
@media only screen and (max-width: 768px){
  .logo{
    font-size: 2em;
    padding-left: 70px;
    margin-top: 5px;
  }
  .logo span{
    position: relative;
    right: 0px;
  }
  .offcanvass{
    display: flex;
    align-items: center;
  }
  .offcanvass ul li{
   font-size: 2em;
  }
}
@media only screen and (max-width: 576px){
  .homepage-menu .hompage-img{
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
  .homepage-menu .hompage-img img{
    opacity: 0.6;
  }
}